[Desktop Entry]
Type=Application
Exec=tts-selected-text
Icon=/usr/share/bigbashview/bcc/apps/tts/icon-grid-texto-fala-tts.svg
Categories=Utility;
StartupNotify=true
Name=Speech or stop selected text
Name[bg]=Говорете или спрете избрания текст
Name[cs]=Předčítání nebo zastavení vybraného textu
Name[da]=Tale eller stoppe markeret tekst
Name[de]=Ausgewählten Text sprechen oder stoppen
Name[el]=Εκφώνηση ή διακοπή επιλεγμένου κειμένου
Name[es]=Hablar o detener texto seleccionado
Name[et]=Valitud teksti rääkimine või peatamine
Name[fi]=Valitun tekstin puhuminen tai lopettaminen
Name[fr]=Prononcer ou arrêter le texte sélectionné
Name[he]=דיבור או הפסקה של טקסט שנבחר
Name[hr]=Izgovaranje ili zaustavljanje odabranog teksta
Name[hu]=A kijelölt szöveg felolvasása vagy leállítása
Name[is]=Talaðu eða stöðvaðu valinn texta
Name[it]=Pronunciare o interrompere il testo selezionato
Name[ja]=選択したテキストの読み上げまたは停止
Name[ko]=선택한 텍스트 말하기 또는 중지
Name[nl]=Geselecteerde tekst uitspreken of stoppen
Name[no]=Les opp eller stopp merket tekst
Name[pl]=Wypowiadanie lub zatrzymywanie zaznaczonego tekstu
Name[pt]=Falar ou parar o texto selecionado
Name[pt_BR]=Narrador de texto
Name[ro]=Vorbirea sau oprirea textului selectat
Name[ru]=Произнесение или остановка выделенного текста
Name[sk]=Čítanie alebo zastavenie vybratého textu
Name[sv]=Tala eller stoppa markerad text
Name[tr]=Seçilen metni seslendirme veya durdurma
Name[uk]=Проговорювання або припинення виділеного тексту
Name[zh]=朗读或停止所选文本
X-KDE-Shortcuts=Alt+V
