[Desktop Entry]
Type=Application
Exec=biglinux-tts
Icon=tts-biglinux
Categories=Settings;Utility;Accessibility;
StartupNotify=true
Terminal=false
Name=BigLinux Text to Speech
Name[pt_BR]=BigLinux Narrador de Texto
Name[es]=BigLinux Texto a Voz
Name[fr]=BigLinux Synthèse Vocale
Name[de]=BigLinux Sprachausgabe
Name[it]=BigLinux Sintesi Vocale
Name[ru]=BigLinux Озвучивание текста
Name[zh]=BigLinux 文字转语音
GenericName=Text-to-Speech Configuration
GenericName[pt_BR]=Configuração de Texto para Fala
Comment=Configure text-to-speech settings and voices
Comment[pt_BR]=Configurar leitura de texto por voz
Comment[es]=Configurar texto a voz
Comment[fr]=Configurer la synthèse vocale
Comment[de]=Sprachausgabe konfigurieren
Comment[it]=Configura sintesi vocale
Comment[ru]=Настройка синтеза речи
Comment[zh]=配置文字转语音设置
X-KDE-Keywords=tts;speech;voice;accessibility;read;text;narrator;acessibilidade;voz;leitura;narrador;
StartupWMClass=br.com.biglinux.tts
SingleMainWindow=true
